
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;800;900&display=swap');
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7ECDE;
}


#description {
    text-align: center;
    background-color: #F7ECDE;
    font-size: 1.5rem; 
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 5rem;
}

.navitem {
  text-decoration-color: #9ED2C6;
}