@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


@font-face {
  font-family: 'Poppins', sans-serif;
  src: url();
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7ECDE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#description {
    text-align: center;
    background-color: #F7ECDE;
    font-size: 1.5rem; 
    font-family:serif, sans-serif;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 5rem;
}

#header {
  background-color: #E9DAC1; 
  padding: 10px;
}

#menu{
  max-width: 1200px;

}

.navitem {
  text-decoration-color: #9ED2C6;
}

.section h1 {
    color: #18181b;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

.section h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #18181b;
}

.section h1 span:hover{
      position: absolute;
      height: 5px;
      width: 0;
      bottom: 0;
      left:0;
      background-color: #1d4ed8;
      transition: all 0.3s ease;

}